sourceDirectoryDictionary = {
    #"My source":"d:\\temp"}
    "My source":r"//Nicolescomputer/Matty Backup/delme"}

# UNC path names are not supported
destinationDirectory = r"d:\temp22"
#destinationDirectory = r"\\Nicolescomputer\Matty Backup\delme"
# Acceptable wildcards are * and ? for the exclusion list.
exclusionList = ["*.obj", r"*Thumbs.db"]
#reconnectNetworkDrive("y:","Matthew", "7346776313")