# This config file is used by my Packager.py program to package up my applications for
# distribution on my website.
import Smackup
MAINMODULE = "Smackup.py"

SOURCE_DIR = "."
DEST_DIR = r"D:\My Documents\Website\foosland.com\MyFreeWare\Smackup"
ZIPFILENAME = "Smackup.zip"
SOURCEFILES = ["ChangeLog.txt","CreateWindowsExe.bat","CreateWindowsExe.py",
               "Smackup.config","SmackupUnitTests.py","SmackupVerify.py", "NetworkDrive.py",
               "standout.py", "CloseOutlook.js"]
MAINSOURCEFILE = "Smackup.py"

FTP_HOST = "www.foosland.com"
FTP_USERNAME = "mhenry1384"
FTP_PASSWORD = "pw4directnic"
FTP_DIRECTORY = "foosland.com/MyFreeWare/Smackup"
