# This is a map of all the source directories.  The key is the name of the source directory when it is copied to 
# the destination directory.  The value is the dirspec of the directory.  Remember to prefix your string with
# an r if it contains backslashes, or simply use forward slashes in place of backslashes.
sourceDirectoryDictionary = {
    "My Documents":r"D:\My Documents",
    "fooslandvideos":r"D:\fooslandvideos.com",
    "Library CDs": r"D:\Library CDs",
    "uncompressed video":r"D:\uncompressed video",
    "Big, Easily Replaceable Installs": r"D:\Big, Easily Replaceable Installs",
    "Nics Tapes":r"D:\Nics Tapes",
    "ParentsBackup": r"D:\ParentsBackup",
    "Burn Only Once Discs":r"D:\Burn Only Once Discs",
    "Perforce":r"C:\Program Files\Perforce",
    "Palm":r"C:\Program Files\Sony Handheld\WM"}

destinationDirectory = r"\\Somecomputer\someshare\directory"

# If you have a network drive that refuses to reconnect at login because it requires a password,
# uncomment out this commmand and change the drive letter, username and password.
# Drives that do not require a username and password are automatically reconnected by Smackup
# if necessary.
# This command can be called multiple times for multiple drives.
# reconnectNetworkDrive("y:","username", "password")

# Acceptable wildcards are * and ? for the exclusion list.
exclusionList = ["*.obj", "Thumbs.db", "*.pyc", "AlbumArt*.jpg", "desktop.ini"]
